Django>=4.1,<4.2
django-activity-stream==1.4.2
django-allauth==0.43
django-autoslug==1.9.8
django-crispy-forms==1.14
django-multiupload==0.6.1
django-taggit==3.1.0
djangorestframework>=3.14,<3.15
easy-thumbnails==2.8.5
pytz
django-avatar==7.1.1
git+https://github.com/labcodes/django-el-pagination.git@4996234313da94e4c904ad94822608b6009798ae
django-haystack==3.2.1
Whoosh==2.7.4
pydub==0.16.6
Pillow>=3.4.2
six
git+https://github.com/adriangzz/dj-taggit-serializer.git@88386daa9c981231de8be12cff032e7711dfdc4e
django-cors-headers>=3.14<4.0
django-widget-tweaks
crispy-bootstrap5>=0.7
