Django>=5.2,<5.3
django-activity-stream>=2.0.0
django-allauth>=65.15.0
django-autoslug==1.9.8
django-crispy-forms>=2.6
django-multiupload==0.6.1
django-taggit>=6.1.0
djangorestframework>=3.16.1
easy-thumbnails>=2.10.1
pytz
django-avatar>=9.0.0
django-el-pagination
django-haystack>=3.3.0
Whoosh==2.7.4
pydub==0.16.6
Pillow>=12.1.0
six
dj-taggit-serializer
django-cors-headers>=4.0
django-widget-tweaks
crispy-bootstrap5>=2026.3
