{% extends "two_rows.html" %}
{% load i18n avatar_tags social %}

{% block title %}@{% trans "user"%}{% endblock %}

{% block left_row %}
    <div class="user-messages-mentioned">
       <h3>{% trans "interactions"|capfirst %}</h3>
       <ul class="action-stream">
         {% for object in user.mentioned_messages.all %}
           {% include "social/message_teaser.html" %}
         {% endfor%}
       </ul>
    </div>
{% endblock %}

{% block right_row %}
    <ul class="nav nav-list">
      {% include "not-auth-items-menu.html" %}
    </ul>
{% endblock %}

