{% extends "base_background_image.html" %}
{% load i18n avatar_tags crispy_forms_tags %}

{% block head_title %}{% trans "Profile options" %}{% endblock %}

{% block title %}<h1>{% trans "Profile options" %}</h1>{% endblock %}

{% block content %}
<div class="form-block profile-options">
   <p>
      <span class="item">{% trans "Username" %}: </span>
      <span class="value">{{ request.user.username }}</span>
   </p>
   <p>
      <span class="image">{% avatar request.user 200 %}</span>
      <span class="action"><a href="{% url 'avatar_change' %}">{% trans "Change your avatar" %}</a></span>
   </p>
   {% crispy form %}
</div>

{% endblock %}

