{% extends "two_rows.html" %}
{% load i18n avatar_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block extra_head %}
 <script type="text/javascript">

    $(function (){
        $('video,audio').mediaelementplayer({
            audioWidth: 460,
            // height of audio player
            audioHeight: 30,
            // initial volume when the player starts
            startVolume: 0.8});
    });

 </script>
{% endblock %}

{% block left_row %}
    <div class="user-music">
      <h3>{% trans "music"|capfirst %}</h3>
      {% for object in audios %}
         {% include "audio/audio_teaser.html" %}
      {% endfor %}
    </div>

    <div class="user-own-comments">
      <h3>{% trans "messages"|capfirst %}</h3>
      <ul>
      {% for message in user.message_set.all %}
        <li>{{ message.as_html|safe }}</li>
      {% endfor%}
      </ul>
    </div>
{% endblock %}

{% block right_row %}
  <div class="user-bar">

    <div class="user-detail">

       {% avatar user 299 %}
       <h1>@{{ user.username }} {% include "social/follow_button.html" %}</h1>
       <p>user info bla bla</p>
    </div>

    <div class="user-stream">
       <ul class="action-stream">
       {% for action in action_list %}
           <li>{% include 'social/action_teaser.html' %}</li>
       {% empty %}
       {% trans "No actions yet" %}
       {% endfor %}
       </ul>
    </div>
  </div>
{% endblock %}

