{% extends "two_rows.html" %}
{% load i18n endless %}

{% block title %}<span class="icon-user"></span> @{{ user.username }} {% trans "profile" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 3,
            paginateOnScrollMargin: 9
        });
    });
 </script>
{% endblock %}

{% block left_row %}
      {% ifequal request.user user %}
      <h3>{% trans "My Projects" %}</h3>
      {% else %}
      <h3>@{{ user.username }} Projects</h3>
      {% endifequal %}
      <div class="projects-wrapper">
         {% include "project/projects_list.html" %}
      </div>
{% endblock %}

{% block right_row %}
   {% if request.user.is_authenticated %}
       <ul class="nav nav-list auth-user">
         {% include "auth-items-menu.html" %}
       </ul>
   {% endif %}
    <ul class="nav nav-list">
      {% ifnotequal request.user user %}
      <li><a href="{{ user.get_absolute_url }}"><i class="fa fa-user"></i> {% blocktrans with name=user %}@{{ name }} Account{% endblocktrans %}</a></li>
      {% endifnotequal %}
      {% include "not-auth-items-menu.html" %}
    </ul>
    <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
    </ul>
{% endblock %}

