{% extends "two_rows.html" %}
{% load i18n %}

{% block title %}{% blocktrans with user=user.username %}@{{ user.username }} Projects{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 3,
            paginateOnScrollMargin: 9
        });
    });
 </script>
{% endblock %}

{% block left_row %}
      {% ifequal request.user user %}
      <h3>{% trans "My Projects" %}</h3>
      {% else %}
      <h3>{{ user.userprofile.realname|default:user.username|capfirst }} Projects</h3>
      {% endifequal %}
      <div class="projects-wrapper full">
      {% with mode="full" %}
         {% include "project/projects_list.html" %}
      {% endwith %}
      </div>
{% endblock %}

{% block right_row %}
   {% include "users/user_prof.html" %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}

