{% load i18n staticfiles social activity_tags avatar_tags %}
   <div class="user-stats block">
    
       <!-- request.user: {{ request.user }} - user: {{ user }} - user.username: {{ user.username }} -->
      <span class="user-avatar">
         {% avatar user 299 %}
      </span>
      <h2 class="user-name">
         <a href="{{ user.get_absolute_url }}">@{{ user.username }}</a>
      </h2> 
      {% if user.userprofile.location %}
      <p class="location"><i class="fa fa-map-marker"></i> {{ user.userprofile.location }}</p>
      {% endif %}
      <hr>
      <a class="field-stats user-projects" href="{% url 'user-projects' user %}">
         <b>{{ user.project_set.all|length }}</b>
         <span>{% trans "Projects" %}</span>
      </a>
      <a class="field-stats user-tracks" href="{% url 'user-tracks' user %}">
         <b>{{ audios|length }}</b>
         <span>{% trans "Tracks" %}</span>
      </a>
      <hr>
      <a class="field-stats user-followers" href="{% followers_url user %}">
         <b>{{ followers|length }}</b>
         <span>{% trans "Followers" %}</span>
      </a>
      <a class="field-stats user-following" href="{% following_url user %}">
         <b>{{ following|length }}</b>
         <span>{% trans "Following" %}</span>
      </a>
      <hr>
      <a class="field-stats user-actions" href="{{ user.get_absolute_url }}messages/">
         <b>{{  user.message_set.all|length }}</b>
         <span>{% trans "Messages" %}</span>
      </a>
      {% if request.user.is_authenticated %}
        {% ifequal request.user user %}
          <a class="field-stats user-interactions" href="{% url 'user-interactions' request.user %}">
          {% comment %}<li><a href="{% url 'user-interactions' request.user %}">@{% trans "user"|capfirst %}</a></li>{% endcomment %}
             <b>2</b>
             <span>{% trans "interactions"|capfirst %}</span>
          </a>
        {% endifequal %}
      {% endif %}
      <hr>
      {% include "social/follow_button.html" %}
    </div>
