{% extends "two_rows.html" %}
{% load i18n avatar_tags social %}

{% block title %}{% trans "My Interactions" %}{% endblock %}

{% block left_row %}
    <h3 class="main-title">{% trans "My Interactions" %}</h3>
    <p class="expl">{% trans "Mentions and replies from another users" %}</p>
    <ul class="action-stream">
      {% for object in user.mentioned_messages.all %}
        {% include "social/message_teaser.html" %}
      {% endfor%}
    </ul>
{% endblock %}

{% block right_row %}
   {% include "users/user_prof.html" %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}

