{% extends "two_rows.html" %}
{% load i18n endless %}

{% block title %}@{% trans "user"%}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
 <script>
    $(function (){
        $('video,audio').mediaelementplayer({
            audioWidth: 460,
            // height of audio player
            audioHeight: 30,
            // initial volume when the player starts
            startVolume: 0.8});

        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 2,
            paginateOnScrollMargin: 10
        });
    });
 </script>
{% endblock %}

{% block left_row %}
      {% ifequal request.user user %}
      <h3>{% trans "My Tracks" %}</h3>
      {% else %}
      <h3>@{{ user.username }} Tracks</h3>
      {% endifequal %}
      {% include "audio/audios_list.html" %}
{% endblock %}

{% block right_row %}
   {% include "users/user_prof.html" %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}

