{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block head_title %}{% trans "Profile options" %}{% endblock %}

{% block title %}<h1>{% trans "Profile options" %}</h1>{% endblock %}

{% block body_class %}bkg {% with rnd="abcd"|make_list|random %}bkg-{{ rnd }}{% endwith %}{% endblock %}

{% block content %}

<dl class="dl-horizontal">
    <dt>{% trans "Username" %}</dt><dd>{{ request.user.username }}</dd>
</dl>

<a href="{% url 'avatar_change' %}">{% trans "Change your avatar" %}</a>

{% avatar request.user 100 %}

{% endblock %}

