{% extends "two_rows.html" %}
{% load i18n avatar_tags social %}

{% block title %}{% blocktrans with user=user.username %}@{{ user }} Profile{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
 <script>
    $(function (){
        $('video,audio').mediaelementplayer({
            audioWidth: 540, //460
            // height of audio player
            audioHeight: 30,
            // initial volume when the player starts
            startVolume: 0.8});

        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5,
            paginateOnScrollMargin: 10
        });
    });
 </script>
{% endblock %}

{% block background %}<div id="user-background"></div>{% endblock %}
{# ToDo: this background will be customizable #}

{% block left_row %}
      {% ifequal request.user user %}
      <h3 class="top-title">{% trans "About me" %}</h3>
      {% else %}
      <h3 class="top-title">{% trans "About" %} @{{ user.username }}</h3>
      {% endifequal %}

      <div class="user-page-top">
         <span class="user-about">{% if user.userprofile.about %}{{ user.userprofile.about }}{% else %}{% trans 'Sorry, still not put anything in my description' %}{% endif %}</span><br />
      </div>

      <h3>{% trans "Last tracks" %}</h3>
      {% for object in audios|slice:":5" %}
         {% include "audio/audio_teaser.html" %}
      {% empty %}
            <span class="no-yet">{% trans "No tracks yet" %}</span>
        {% ifequal request.user user %}
            <span class="new"><a href="{% url "audio-create" %}">{% trans "Upload track" %}</a></span>
        {% endifequal %}
      {% endfor %}
      <span class="more"><a href="{% url 'user-tracks' user %}">{% trans "more..." %}</a></span>

      <h3>{% trans "Last activities" %}</h3>
       {# include "social/actions_list.html" #}
      <ul class="action-stream">
         {% for action in action_list|slice:":5" %}
            <li>{% include 'social/action_teaser.html' %}</li>
         {% empty %}
            <span class="no-yet">{% trans "No actions yet" %}</span>
         {% endfor %}
      </ul>
      <span class="more"><a href="{% url 'user-activities' user %}">{% trans "more..." %}</a></span>

      <h3>{% trans "Last projects" %}</h3>
      <div class="projects-wrapper">
         {% for object in user.project_set.all|slice:":6" %}
            {% include "project/project_teaser.html" %}
         {% empty %}
               <span class="no-yet">{% trans "No project yet" %}</span>
            {% ifequal request.user user %}
               <span class="new"><a href="{% url "project-create" %}">{% trans "Create new project" %}</a></span>
            {% endifequal %}
         {% endfor %}
      </div>
      <span class="more"><a href="{% url 'user-projects' user %}">{% trans "more..." %}</a></span>

{% endblock %}

{% block right_row %}
      {% with "full" as profmode %}     
         {% include "users/user_prof.html" %}
      {% endwith %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}

