{% load i18n staticfiles social activity_tags avatar_tags %}
{% if mode == "full" %}

  <span class="user-bkg"></span>

  {% avatar user 72 %}

  {% include "social/follow_button.html" %}

  <span class="user"><a href={{ user.get_absolute_url }}>{{ user.userprofile.realname|default:user.username|capfirst }}</a></span><br />

  <span class="user-name">@{{ user.username }}</span><br />

  <span class="small-tags">
   {% with object=user.userprofile %} 
      {% if object.tags.all %}
         {% include 'core/hashtags_block.html' %}
      {% endif %}
   {% endwith %}
  </span>

{% comment %}
  <span class="user-about">
  {% if user.userprofile.about %}
  {{ user.userprofile.about|truncatechars:35|capfirst }}
  {% endif %}
  </span><br />

  <span class="location">
  {% if user.userprofile.location %}
  <i class="fa fa-map-marker"></i> {{ user.userprofile.location }}
  {% endif %}
  </span><br />
{% endcomment %}

  <span class="stats">
     <span title="{% trans "Tracks" %}"><b>{{ user.audio_set.all|length }}</b> {% trans "Tracks" %}</span>
     <span title="{% trans "Projects" %}"><b>{{ user.project_set.all|length }}</b> {% trans "Projects" %}</span>
     <span title="{% trans "Followers" %}"><b>{{ user.followers|length }}</b> {% trans "Followers" %}</span>
  </span>
{% elif mode == "list" %}
   {% comment %} <div class="user-teaser list"> {% endcomment %}
      <div class="wrapper">
         {% avatar user 72 %}
         <span class="user">
            <a href="{{ user.get_absolute_url }}">
               {{ user.userprofile.realname|default:user.username|capfirst }}
            </a>
         </span>
         <span class="user-name">@{{ user.username }}</span>
         <span class="stats">
            <span title="{% trans "Tracks" %}"><b>{{ user.audio_set.all|length }}</b> {% trans "Tracks" %}</span>
            {# <span title="{% trans "Projects" %}"><b>{{ user.project_set.all|length }}</b> {% trans "Projects" %}</span> #}
            {# <span title="{% trans "Followers" %}"><b>{{ user.followers|length }}</b> {% trans "Followers" %}</span> #}
         </span>
{% comment %}
         <span class="small-tags">
         {% with object=user.userprofile %} 
            {% if object.tags.all %}
               {% include 'core/hashtags_block.html' %}
            {% endif %}
         {% endwith %}
         </span>
{% endcomment %}
      </div>
      {% include "social/follow_button.html" %}
   {% comment %} </div> {% endcomment %}
{% else %}
  {% avatar user 50 %}
  <span class="user"><a href={{ user.get_absolute_url }}>{{ user.username }}</a></span>
  {% include "social/follow_button.html" %}
{% endif %}

