{% extends "two_rows.html" %}
{% load i18n endless %}

{% block title %}{% blocktrans with user=user.username %}@{{ user }} Activities{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5,
            paginateOnScrollMargin: 10,
            onCompleted: function() {
             //  http://django-endless-pagination.readthedocs.org/en/latest/javascript.html
               $('video,audio').each(function(index, element){
                  $(this).mediaelementplayer({
                     audioWidth: $(this).parent().width(), //old 540 460
                     // height of audio player
                     audioHeight: 30,
                     // initial volume when the player starts
                     startVolume: 0.8});
              });
            }
        });
    });
 </script>
{% endblock %}

{% block left_row %}
      {% ifequal request.user user %}
      <h3>{% trans "My Activities" %}</h3>
      {% else %}
      <h3>@{{ user.username }} Activities</h3>
      {% endifequal %}
      {% include "social/actions_list.html" %}
{% endblock %}

{% block right_row %}
   {% include "users/user_prof.html" %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}

