{% extends "two_rows.html" %}
{% load i18n endless %}

{% block title %}<span class="icon-user"></span> @{{ user.username }} {% trans "profile" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 3,
            paginateOnScrollMargin: 9
        });
    });
 </script>
{% endblock %}

{% block left_row %}
      {% ifequal request.user user %}
      <h3>{% trans "My Projects" %}</h3>
      {% else %}
      <h3>@{{ user.username }} Projects</h3>
      {% endifequal %}
      <div class="projects-wrapper">
         {% include "project/projects_list.html" %}
      </div>
{% endblock %}

{% block right_row %}
   {% include "users/user_prof.html" %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}

