{% extends "two_rows.html" %}
{% load i18n %}

{% block title %}{% blocktrans with user=user.username %}@{{ user }} Tracks{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 2,
            paginateOnScrollMargin: 10,
            onCompleted: function() {
             //  http://django-endless-pagination.readthedocs.org/en/latest/javascript.html
               $('video,audio').each(function(index, element){
                  $(this).mediaelementplayer({
                     audioWidth: $(this).parent().width(), //old 540 460
                     // height of audio player
                     audioHeight: 30,
                     // initial volume when the player starts
                     startVolume: 0.8});
              });
            }
        });
    });
 </script>
{% endblock %}

{% block usermenu_row %}
	{% with useritem="tracks" %}
	 	{% include "users/user_menu.html" %}
	{% endwith %}
{% endblock %}

{% block left_row %}
      {% ifequal request.user user %}
      <!-- <h3>{% trans "My Tracks" %}</h3> -->
      {% else %}
      <!-- <h3>{{ user.userprofile.realname|default:user.username|capfirst }} Tracks</h3> -->
      {% endifequal %}
      <div class="d-flex flex-column user-track-list">
      {% include "audio/audios_list.html" %}
      </div>
{% endblock %}

{% block right_row %}
   {% include "users/user_prof.html" %}
	{% comment %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
   {% endcomment %}
{% endblock %}

