{% extends "base_background_image.html" %}
{% load i18n avatar_tags crispy_forms_tags %}

{% block head_title %}{% trans "Profile options" %}{% endblock %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block content %}
<div class="form-block profile-options">
   <p>
      <span class="item">{% trans "Username" %}: </span>
      <span class="value">{{ request.user.username }}</span>
   </p>
   <p>
      <span class="image">{% avatar request.user 200 %}</span>
      <span class="action"><a href="{% if request.user|has_avatar %}{% url 'avatar_change' %}{% else %}{% url 'avatar_add' %}{% endif %}">{% trans "Change your avatar" %}</a></span>
   </p>
   {% crispy form %}
</div>

{% endblock %}

