{% extends "two_rows.html" %}
{% load i18n avatar_tags social_tags %}

{% block title %}{% trans "My Interactions" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5,
            paginateOnScrollMargin: 10
        });
    });
 </script>
{% endblock %}

{% block post_message %}
{% endblock %}

{% block left_row %}
    <h3 class="main-title">{% trans "My Interactions" %}</h3>
    <p class="expl">{% trans "Mentions and replies from another users" %}</p>
    <ul class="action-stream">
         {% include "social/messages_list.html" %}
    </ul>
{% endblock %}

{% block right_row %}
   {% include "users/user_prof.html" %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}

