{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
    <h2>Search</h2>

        <form type="get" action=".">
            <input type="text" name="q">
            <button type="submit">Search</button>
        </form>

        {% if query %}
            <h3>Results</h3>
            {% for result in page.object_list %}
                {% if result.object.get_app_label %}
                {% with result.object.get_app_label|add:"/"|add:result.object.get_model_name|add:"_teaser.html" as template %}
                    {% include template with object=result.object %}
                {% endwith %}
                {% else %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                </p>
                {% endif %}

            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}

        {% endif %}
    </form>
{% endblock %}
