{% load i18n endless model_info %}
  {% paginate 6,2 mixed_objects %}
  {% for object in mixed_objects %}
      {% if object|get_verbose_name == 'project' %}
         {% with "full" as mode %}
            {% include "project/project_teaser.html" %}
         {% endwith %}
      {% endif %}
      {% if object|get_verbose_name == 'audio' %}
         {% include "audio/audio_teaser.html" %}
      {% endif %}
      {% if object|get_verbose_name == 'message' %}
         {% include "social/message_teaser.html" %}
      {% endif %}
  {% empty %}
      <span class="no-yet">{% trans "No content found" %}</span>
  {% endfor%}
  {% show_more %}
