{% load i18n avatar_tags %}

  <!-- action teaser -->
{% block actor %}
   <span class="avatar">
   {% avatar action.actor 50 %}
   </span>
   <span class="user">
   {% if action.actor.get_absolute_url %}
      <a href="{{ action.actor.get_absolute_url }}">{{ action.actor.userprofile.realname|default:action.actor|capfirst }}</a>
   {% else %}
      <a href="{{ action.actor_url }}">{{ action.actor.userprofile.realname|default:action.actor|capfirst }}</a>
   {% endif %}
   </span>
{% endblock %}

{% block timestamp %}
<span class="ago">{% blocktrans with timeago=action.timestamp|timesince %}{{ timeago }} ago{% endblocktrans %}</span><br>
{% endblock %}

{% block message %}
   <span class="message">
      <span class="verb {{ action.verb }} message-context">
      {% block action_text %}
         {{ action.verb }}
      {% endblock action_text %}
      </span>
      <span class="content-object message-context">
      {% block content_object %}
      {% endblock content_object %}
      </span>
      {% block action_body %}
        {{ action.action_object }}
      {% endblock action_body %}
   </span>
{% endblock message %}

{% block action_utils %}
{# if request.user.is_authenticated #}
<ul class="actions">
   <li><button type="button" class="btn btn-link modal-reply-message" data-username="{{ action.actor }}"><i class="fa fa-reply"></i> {% trans 'reply' %}</button></li>
   {% comment %}<li><button type="button" class="btn btn-link comment-amplify"><i class="fa fa-repeat"></i> {% trans 'amplify' %}</button></li>{% endcomment %}
</ul>
{# endif #}
{% endblock action_utils %}
