{% load social_tags activity_tags i18n %}
{% if request.user.is_authenticated %}
  <div class="followers-link">
    <button class="btn follow-unfollow" type="button" urlUnfollow="{% unfollow_url user %}" urlFollow="{% actual_follow_all_url user %}" following="{% if request.user|is_following:user %}true{% else %}false{% endif %}">BTN</button>
  </div>
{% else %}
  <div class="followers-link">
    <button class="btn follow-unfollow" type="button" onclick="location.href='{% url 'account_login' %}'">BTN</button>
  </div>
{% endif %}

