{% extends "two_rows.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}@{{ user.username }} followers{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5,
            paginateOnScrollMargin: 10,
            onCompleted: function() {
             //  http://django-endless-pagination.readthedocs.org/en/latest/javascript.html
               $(".follow-unfollow").each(function(index, element){
                  follow_unfollow_button(element);
               });
            }
        });
    });
 </script>
{% endblock %}

{% block left_row %}
    <h3>{% blocktrans %}Users followers of @{{ user }}{% endblocktrans %}</h3>
    <div class="users-list-wrapper">
      <ul class="users-list followers">
         {% with user.followers as users %}
            {% include "users/users_list.html" %}
         {% endwith %}
      </ul>
    </div>
{% endblock %}

{% block right_row %}
      {% with "show" as stats %}     
         {% include "users/user_prof.html" %}
      {% endwith %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}
