{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block title %}{% trans "Welcome!" %}{% endblock %}

{% block content %}

<h3 class="sign-up"><a href="/accounts/signup/">{% trans "Sign up for RedPanal" %}</a></h3>
{# TODO: cambiar {{ signup_url }} que imprime /accounts/signup/?next=%2F y no va a edit profile despues de signup #}

<div class="form-block">
   <h3>{% trans 'Sign in:' %}</h3>
   <form class="login" method="POST" action="{% url 'account_login' %}">
     {% csrf_token %}
     {{ form.as_p }}
     {% if redirect_field_value %}
     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
     {% endif %}
     <p class="action-grp">
        <button class="btn btn-primary" type="submit">{% trans "Sign in" %}</button>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
     </p>
   </form>
</div>

{% if socialaccount.providers  %}
<div class="form-block providers">
   <h3>{% trans 'Sign in with:' %}</h3>
   <div class="socialaccount_ballot">
     <ul class="socialaccount_providers">
       {% include "socialaccount/snippets/provider_list.html" with process="login" %}
     </ul>
   </div>
</div>
{% comment %}
{% include "socialaccount/snippets/login_extra.html" %}
{% endcomment %}
{% endif %}

{% endblock %}

