{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body_class %}bkg {% with rnd="abcd"|make_list|random %}bkg-{{ rnd }}{% endwith %}{% endblock %}

{% block title %}{% trans "Welcome to RedPanal" %}{% endblock %}

{% block top_user_menu %}{% endblock %}
{% block top_search_form %}{% endblock %}

{% block content %}
<div class="m-auto" style="max-width: 500px;">
	<div class="form-block sign-form p-4 rounded-4 border redpanal-form-wrapper">
	   <h2 class="pb-4 text-light text-center"><b>{% trans "Sign Up" %}</b></h2>

	   <form class="signup text-light" id="signup_form" method="post" action="{% url 'account_signup' %}">
	     {% csrf_token %}
	     {{ form.as_p }}
	     {% if redirect_field_value %}
	     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	     {% endif %}
	     <div class="nav py-3 action-grp justify-content-between">
	     	<div class="nav-item"><button class="btn btn-light" type="submit">{% trans "Sign Up" %} &raquo;</button></div>
	     </div>
	   </form>

	   <p class="text-light pt-4 small">
	   	{% blocktrans %}Already have an account? Then please <a class="" href="{{ login_url }}"><b>Sign in</b></a>.{% endblocktrans %}
	   </p>

	</div>
</div>

{% endblock %}


