{% load i18n static thumbnail avatar_tags %}
<div class="project-teaser {{ mode|default:"small" }}">
    <div class="project-img">
   {% if mode != "in-project-detail" %}
      <a href="{% url 'project-detail' object.slug %}" name="{{object.slug}}" title="{% blocktrans with name=object.name|capfirst %}Go to '{{ name }}' project{% endblocktrans %}">
      {% if object.image %}
         <img src="{{ object.image|thumbnail_url:'medium' }}" alt="{{ object.name }}">
      {% else %}
         <img src="/static/img/default/p{{ object.name|length|slugify|last }}.png" alt="{{ object.name }}">
      {% endif %}
      </a>
   {% else %}
      <span>
      {% if object.image %}
         <img src="{{ object.image|thumbnail_url:'medium' }}" alt="{{ object.name }}">
      {% else %}
         <img src="/static/img/default/p{{ object.name|length|slugify|last }}.png" alt="{{ object.name }}">
      {% endif %}
      </span>
   {% endif %}
    </div>
    <div class="project-data">
   {% if mode == "full" or mode == "search-result" %} {# ToDo: renombrar mode a "list-style" y cambiarlo todos los with #}

       <span class="name"><a href="{% url 'project-detail' object.slug %}" name="{{object.slug}}" title="{% blocktrans with name=object.name|capfirst %}Go to '{{ name }}' project{% endblocktrans %}">{{ object.name|truncatechars:50|capfirst }}</a></span>
       <span class="description">{{ object.description|truncatechars:100|capfirst }}</span>
       <span class="tags">
          {% url 'project-detail' object.slug as object_url %}
          {% with mode="short-list" object_url=object_url %}{% include 'core/hashtags_block.html' %}{% endwith %}
       </span>
       <span class="tracks"><b class="number">{{ object.audios.all|length }}</b> {% trans "Tracks" %}</span>
       <span class="ago">{% blocktrans with timesince=object.created_at|timesince %}{{ timesince }} ago{% endblocktrans %}, {% trans "by" %} <a href="{{ object.user.get_absolute_url }}">@{{ object.user }}</a></span>

   {% elif mode == "in-project-detail" %}

       <div class="inline-title"><h1 class="name {% if object.name|length > 50 %}very-long-name{% endif %}">{{ object.name|capfirst }}</h1>
      {% if request.user == object.user %}<span class="edit"><a title="{% trans "Edit project" %}" href="{% url "project-edit" object.slug %}">[{% trans "Edit" %}]</a> <a class="danger" title="{% trans "Delete project" %}" href="{% url "project-delete" object.slug %}">[{% trans "Delete" %}]</a></span>{% endif %}</div>
       <span class="creator">{% trans "Project created by" %} <a href="{{ object.user.get_absolute_url }}">@{{ object.user }}</a> {% trans "at" %} {{ object.created_at }}</span>
       <span class="description">{{ object.description|capfirst }}</span>
       <span class="tags">{% include 'core/hashtags_block.html' %}</span>
       <span class="tracks"><b class="number">{{ object.audios.all|length }}</b> {% trans "Tracks" %}</span>
       {% if object.version_of %}
       <span class="version">{% trans "This projects contributes tracks to" %} <a href="{{ object.version_of.get_absolute_url }}"> {{ object.version_of }}</a></span>
       {% endif %}
       {% if object.versions.all %} <span class="band">{% trans "Working band" %} {% for user in object.collaborators %} <a href="{{user.get_absolute_url}}">@{{user}}</a> {% endfor %}</span> {% endif %}

   {% elif mode == "in-action-list"  %}
       <span class="name"><a href="{% url 'project-detail' object.slug %}" name="{{object.slug}}" title="{% blocktrans with name=object.name|capfirst %}Go to '{{ name }}' project{% endblocktrans %}">{{ object.name|truncatechars:50|capfirst }}</a></span>
       <span class="description">{{ object.description|truncatechars:150|capfirst }}</span>
       <span class="small-tags">
          {% url 'project-detail' object.slug as object_url %}
          {% with mode="short-list" object_url=object_url %}{% include 'core/hashtags_block.html' %}{% endwith %}
       </span>
        {% if object.versions.all %} <span class="band">{% trans "Working band" %} {% for user in object.collaborators %} <a href="{{user.get_absolute_url}}">@{{user}}</a> {% endfor %}</span> {% endif %}
       <span class="tracks"><b class="number">{{ object.audios.all|length }}</b> {% trans "Tracks" %}</span>

   {% else %} {# "icon-style" default #}
       <span class="tracks-over-image"><span class="wrapper"><b class="number">{{ object.audios.all|length }}</b> {% trans "Tracks" %}</span></span>
       <span class="name"><a href="{% url 'project-detail' object.slug %}" name="{{object.slug}}" title="{% blocktrans with name=object.name|capfirst %}Go to '{{ name }}' project{% endblocktrans %}">{{ object.name|truncatechars:20|capfirst }}</a></span>
       <span class="creator"><span class="avatar">{% avatar object.user 16 %}</span> <a class="user" href="{{ object.user.get_absolute_url }}">{{ object.user.userprofile.realname|default:object.user.username|capfirst }}</a></span>
       {% comment %}<span class="description">{{ object.description|truncatechars:50|capfirst }}</span>{% endcomment%}
       <span class="small-tags">{% for tag in object.tags.all|slice:":2" %} <a href="{% url 'hashtaged-list' slug=tag.slug %}"><i class="fa fa-tag"></i> {{ tag.slug }}</a> {% endfor %}{% if object.tags.all|length > 2 %}<a href="{{ object_url }}">...</a>{% endif %}</span>
   {% endif %}
    </div>
</div>
