{% load i18n %}
   <ul class="nav nav-list nav-tags">
      <li><a href="{% url 'hashtaged-list-projects' slug=tag.slug %}" 
             class="{% ifequal list_type 'projects' %}selected{% endifequal %}">
            <i class="fa fa-tag"></i> <b>{{ tag.name }}</b> - {% trans "only projects" %}</a>
      <li><a href="{% url 'hashtaged-list-audios' slug=tag.slug %}" 
             class="{% ifequal list_type 'audios' %}selected{% endifequal %}">
            <i class="fa fa-tag"></i> <b>{{ tag.name }}</b> - {% trans "only tracks" %}</a>
      <li><a href="{% url 'hashtaged-list-users' slug=tag.slug %}" 
             class="{% ifequal list_type 'users' %}selected{% endifequal %}">
            <i class="fa fa-tag"></i> <b>{{ tag.name }}</b> - {% trans "only users" %}</a>
      <li><a href="{% url 'hashtaged-list-messages' slug=tag.slug %}" 
             class="{% ifequal list_type 'messages' %}selected{% endifequal %}">
            <i class="fa fa-tag"></i> <b>{{ tag.name }}</b> - {% trans "Only messages" %}</a>
   </ul>
