{% load i18n el_pagination_tags model_info %}
  {% paginate mixed_objects %}
  {% for object in mixed_objects %}
      {% if object|get_verbose_name == 'project' %}
         <li class="mixed-item">
            {% with "in-mixed-list" as mode %}
               {% include "project/project_teaser.html" %}
            {% endwith %}
         </li>
      {% endif %}
      {% if object|get_verbose_name == 'audio' %}
         <li class="mixed-item">
            {% with "in-mixed-list" as mode %}
               {% include "audio/audio_teaser.html" %}
            {% endwith %}
         </li>
      {% endif %}
      {% if object|get_verbose_name == 'message' %}
         <li class="mixed-item teaser-box">{% include "social/message_teaser.html" %}</li>
      {% endif %}
      {% if object|get_verbose_name == 'user' %}
         {% with user=object mode="list" %}
             <li class="mixed-item user_list user-teaser list">{% include "users/user_teaser.html" %}</li>
         {% endwith %}
      {% endif %}
  {% empty %}
      <span class="no-yet">{% trans "No content found" %}</span>
  {% endfor%}
  {% show_more %}
