{% load i18n %}
{% load url from future %}

<div class="teaser-audio {{ mode|default:"small" }} ">
{% if mode == "in-project-detail" %}
    <div class="top-date">{{ object.created_at|timesince }}</div>
    <div class="top">
       <div class="top-user user"><a href="{{ object.user.get_absolute_url }}"> {{ object.user }}</a></div>
       <div class="top-title"><h3><a href="{% url 'audio-detail' object.slug %}" name="{{object.slug}}">{{ object.name|capfirst }}</a></h3></div>
       <div class="top-data">{% trans "Channels" %}: {{ object.channels }} | {{ object.samplerate }} | {{ object.get_duration }} ms</div>
   </div>
{% else %}
    <div class="top-date">{% blocktrans with timesince=object.created_at|timesince user=object.user %}{{ timesince }} ago, by @{{ user }}{% endblocktrans %}</div>
    <div class="top">
       <div class="top-title"><h3><a href="{% url 'audio-detail' object.slug %}">{{ object.name|capfirst }}</a></h3>{# object.description|truncatechars:50|capfirst #}</div>
       <div class="top-data">{% trans "Channels" %}: {{ object.channels }} | {{ object.samplerate }} | {{ object.get_duration }} ms</div>
   </div>
{% endif %}

{% include "audio/audio_object.html" %}

    <div class="bottom-tags">{% include 'core/hashtags_block.html' %}</div>
</div>




