{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load social %}

{% block title %}{{ object.name }}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
    $(function (){
        $('video,audio').mediaelementplayer({
            audioWidth: 940,
            // height of audio player
            audioHeight: 30,
            // initial volume when the player starts
            audioWaveHeight: 100,
            customSize: 'big',
            startVolume: 0.8});
    });
</script>
{% endblock %}

{% block content %}

<div class="detail-audio">
   <div class="top-date">{{ object.created_at|timesince }}</div>
   <div class="top">
       <div class="top-user user"><a href="{{ object.user.get_absolute_url }}">{{ object.user.userprofile.realname|default:object.user.username|capfirst }}</a></div>
       <div class="inline-title"><h1 title="object.name|capfirst" >{{ object.name|capfirst|truncatechars:50 }}</h1>
       {% if request.user == object.user %}<span class="edit"><a title="{% trans "Edit audio track" %}" href="{% url "audio-edit" object.slug %}">[{% trans "Edit" %}]</a> <a class="danger" title="{% trans "Delete audio track" %}" href="{% url "audio-delete" object.slug %}">[{% trans "Delete" %}]</a></span>{% endif %}
       </div>
       <div class="projects">
           <ul>
               {% for project in object.project_set.all %}
                <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
               {% endfor %}
           </ul>
       </div>
   </div>

{% include "audio/audio_object.html" %}

   <div class="detail-block">
      <h4>{% if object.use_type != "other" %}{{ object.get_use_type_display|capfirst }}{% else %}{% trans "File" %}{% endif %} {% trans "details" %}:</h4>
      <div class="download"><a href="{{ object.audio.url }}"><i class="fa fa-download"></i> {% trans "Download" %}</a></div>
      <p class="description">{{ object.description|capfirst }}</p>
      <p class="tags">{% include 'core/hashtags_block.html' %}</p>  
      <p class="">{% trans "Channels" %}: <b>{{ object.channels }}</b> | {% trans "Samplerate" %}: <b>{{ object.samplerate }}</b> | {% trans "Genre" %}: <b>{{ object.get_genre_display|capfirst }}</b> | {% trans "Instrument" %}: <b>{{ object.get_instrument_display|capfirst }}</b></p>

      <div class="license-block">
         <img alt="Licencia Creative Commons" style="border-width:0" src="{{ object.get_license.icon }}" />
         <p><i>"{{ object.name|capfirst }}"</i> 
         {% trans "by" %} <a href="{{ object.user.get_absolute_url }}">{{ object.user.userprofile.realname|default:object.user.username|capfirst }}</a>
         {% blocktrans with license=object.get_license.name license_url=object.get_license.url %}is licensed under a <a rel="license" href="{{ license_url }}">{{ license }}</a>{% endblocktrans %}. 
         {% trans "Published" %}: {{ object.created_at }} 
         {% trans "by" %} {{ object.user.userprofile.realname|default:object.user.username|capfirst }}. 
         <a href="{% url 'audio-detail' object.slug %}" name="{{object.slug}}">{% trans "Permanent link" %}</a>.</p>
      </div>
   </div>

</div>

<h4 class="comments-title">{% blocktrans with obj_name=object.name|capfirst %}Comments for '{{ obj_name }}' track:{% endblocktrans %}</h4>
<div class="action-stream-wrapper for-object">
{% show_messages_for object %}
</div>

{% if request.user.is_authenticated %}
   {% message_form_for object %}
{% endif %}

{% endblock %}

