{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8" />
 <title>RedPanal Beta</title>
 {# bootstrap #}
 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'css/bootstrap-custom.css' %}" rel="stylesheet">
 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 <link href="{% static 'css/redpanal.css' %}" rel="stylesheet">
 {# /bootstrap #}

 <link href="{% static 'mediaelements/mediaelementplayer.css' %}" rel="stylesheet">
 <link href="{% static 'mediaelements/mejs-skins.css' %}" rel="stylesheet">
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/redpanal.js' %}"></script>
 <script src="{% static 'mediaelements/mediaelement-and-player.js' %}"></script>

 <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

 {% block extra_head %}{% endblock %}
 <script>
 $(function() {
  function follow_unfollow_button(el){
    el.ffobject = {
        "follow_url": $(el).attr("urlFollow"),
        "unfollow_url": $(el).attr("urlUnfollow"),
        "following": $(el).attr("following") === "true",
        "el": el,
        "render": function (){
            text = {% if request.user.is_authenticated %} this.following ? '{% trans "Unfollow" %}' : '{% trans "Follow" %}' {% else %} '<a href="{% url 'account_login' %}?next={% firstof request.path '/' %}">{% trans "login" %}</a> {% trans "to follow" %}'{% endif %};
            $(this.el).html(text);
        },
        "toggle": function (){
            this.following = !this.following;
            $(this.el).toggleClass("following unfollowing");
            $(this.el).toggleClass("btn-info btn-warning");
        },
        "click": function(){
            $.post(this.following ? this.unfollow_url : this.follow_url)
            this.toggle();
            this.render();
        }
    }
    if (el.ffobject.following){
        $(el).addClass("following");
        $(el).addClass("btn-warning");

    }
    else{
        $(el).addClass("unfollowing");
        $(el).addClass("btn-info");
    }
    $(el).click(function(){el.ffobject.click()});
    el.ffobject.render();
  }
  $(".follow-unfollow").each(function(index, element){follow_unfollow_button(element)});
 });
 </script>
</head>
<body class="{% block body_class %}{% endblock %}">

<header id="header">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </a>
          <a class="brand" href="/"><img src="{% static 'img/redpanal-50.png' %}" alt="logo"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{% url "haystack_search" %}"><i class="fa fa-search"></i> {% trans "Search" %}</a></li>
              {% comment %} <li><a href="/">{% trans "Home" %}</a></li>{% endcomment %}
              {% if request.user.is_authenticated %}
              {% comment %}<li><a href="{{ request.user.get_absolute_url }}">{% trans "profile"|capfirst %}</a></li>{% endcomment %}
              {% comment %}<li><a href="{% url 'user-interactions' request.user %}">{% trans "interactions"|capfirst %}</a></li>{% endcomment %}
              {% comment %}<li><a href="{% url 'user-interactions' request.user %}">@{% trans "user"|capfirst %}</a></li>{% endcomment %}
              {% endif %}
            </ul>
          </div>
          <div id="login" style="float:right;">
           <div class="btn-group">
            {% if request.user.is_authenticated %}
              <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {{ request.user }}</a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'user-profile' %}"><i class="icon-wrench"></i> {% trans "Edit profile" %}</a></li>
                  <li><a href="{% url 'account_logout' %}?next={{ request.path }}"><i class="icon-arrow-left"></i> {% trans "Log out" %}</a></li>
                </ul>
            {% else %}
              <a class="btn btn-primary" href="{% url "account_login" %}?next={{ request.path }}"><i class="icon-user icon-white"></i> {% trans "Log in" %}</a>
            {% endif %}
           </div>
          </div>
        </div>
      </div>
    </div>
</header>

{#      <h1>{% block title %}{% endblock %}</h1> #}

{% if request.user.is_authenticated %}
{% block breadcrumb %}
<div id="breadcrumb">
    <div class="wrapper">
    <ul class="nav">
      {% comment %}
        <li class="discover"><a href="{{ request.user.get_absolute_url }}"><i class="fa fa-user"></i> {% trans "My Account" %}</a></li>
        <li class="discover"><a href="/"><i class="fa fa-music"></i> {% trans "My Community" %}</a></li>
        <li class="discover"><a href="{% url 'user-interactions' request.user %}"><i class="fa fa-comments"></i> {% trans "My Interactions" %}</a></li>
      {% endcomment %}
        <li class="action"><a href="{% url "audio-create" %}"><i class="fa fa-upload"></i> {% trans "Upload file" %}</a></li>
        <li class="action"><a href="{% url "project-create" %}"><i class="fa fa-folder-open"></i> {% trans "Create project" %}</a></li>
        <li>
        {% block messageform %}
            {% include "social/message_form.html" %}
        {% endblock %}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
{% endif %}

<div id="content" class="container">
    {% block content %}
    {% endblock %}
</div>

<div id="footer" class="container">
   <div class="wrapper">
{% block footer %}
      <p class="note">
         {% trans 'This is Free Software licensed under <a href="http://www.gnu.org/licenses/agpl.txt" >AGPL</a>' %}. {% trans 'Get <a href="https://github.com/RedPanal/redpanal">the code!</a>.' %}<br />
         {% trans 'Hosted by: <a href="http://www.codigosur.org">Código Sur</a>' %}
      </p>
      <ul class="nav">
            <li><a href="http://blog.redpanal.org/" title="{% trans 'The Official RedPanal Blog!' %}">{% trans "Blog" %}</a></li>
            <li><a href="http://twitter.com/redpanal" ><i class="fa fa-twitter-square big-fa-icon"></i><span class="hide-text">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/pages/RedPanal/10150092707335128?fref=ts"><i class="fa fa-facebook-square big-fa-icon"></i><span class="hide-text">Facebook</span></a></li>
      </ul>
{% endblock %}
   </div>
</div>
</body>
