{% load staticfiles avatar_tags i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>RedPanal | {% block title %}{% endblock %}</title>
 {# bootstrap #}
 <link href="{% static 'css/bootstrap-4.5.min.css' %}" rel="stylesheet">
 <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
 <link href="{% static 'css/redpanal.css' %}?{{ GIT_SHORT_VERSION }}" rel="stylesheet">
 {# /bootstrap #}

 <link href="{% static 'mediaelements/mediaelementplayer.css' %}" rel="stylesheet">
 <link href="{% static 'mediaelements/mejs-skins.css' %}" rel="stylesheet">
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script src="{% static 'js/bootstrap-4.5.bundle.min.js' %}"></script>
 <script src="{% static 'js/redpanal.js' %}"></script>
 <script src="{% static 'mediaelements/mediaelement-and-player.js' %}"></script>

 <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

 {% block extra_head %}{% endblock %}
 <script>

  function follow_unfollow_button(el){
    el.ffobject = {
        "follow_url": $(el).attr("urlFollow"),
        "unfollow_url": $(el).attr("urlUnfollow"),
        "following": $(el).attr("following") === "true",
        "el": el,
        "render": function (){
            text = {% if request.user.is_authenticated %} this.following ? '{% trans "Following" %}' : '<i class="fa fa-plus"></i> {% trans "Follow" %}' {% else %} '<i class="fa fa-plus"></i> {% trans "Follow" %}'{% endif %};
            $(this.el).html(text);
        },
        "toggle": function (){
            this.following = !this.following;
            $(this.el).toggleClass("following unfollowing");
            $(this.el).toggleClass("btn-info btn-warning");
        },
        "hoverin": function (){
            {% if request.user.is_authenticated %}if (this.following){
               text = '<i class="fa fa-times"></i> {% trans "Unfollow" %}';
               $(this.el).html(text);
            }{% endif %}
        },
        "hoverout": function (){
            this.render();
        },
        "click": function(){
            $.post(this.following ? this.unfollow_url : this.follow_url)
            this.toggle();
            this.render();
        }
    }
    if (el.ffobject.following){
        $(el).addClass("following");
        $(el).addClass("btn-warning");

    }
    else{
        $(el).addClass("unfollowing");
        $(el).addClass("btn-info");
    }
    $(el).click(function(){el.ffobject.click()});

    //$(el).hover(function(){$(el).html('<i>hover!</i>');});
    $(el).hover(function(){el.ffobject.hoverin()},function(){el.ffobject.hoverout()});
    el.ffobject.render();
  }
 $(function() {
  $(".follow-unfollow").each(function(index, element){follow_unfollow_button(element)});
 });
 </script>
</head>
<body class="{% if request.user.is_authenticated %}logged-user{% endif %} {% block body_class %}{% endblock %}">
<header id="header">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <!-- Logo RedPanal-->
            <a class="brand" href="/">
                <img src="{% static 'img/redpanal-50.png' %}" alt="logo">
            </a>
            
            <div class="row">
                <!-- Login and user actions -->
                {% if request.user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-user icon-white pr-2"></i> {{ request.user }}
                        </button>
                        <div class="dropdown-menu"  aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'user-profile' %}">
                                <i class="fas fa-pencil-alt"></i> {% trans "Edit profile" %}
                            </a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}?next={{ request.path }}">
                                <i class="fas fa-sign-out-alt"></i> {% trans "Log out" %}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-primary" 
                       href="{% url "account_login" %}?next={{ request.path }}">
                        <i class="fas fa-user pr-2"></i> {% trans "Log in" %}
                    </a>
                {% endif %}
                <!-- Search form -->
                <form class="form-inline col-lg-8"
                      type="get"
                      action="{% url "haystack_search" %}">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Buscá en RedPanal"
                               aria-label="Buscá en RedPanal"
                               name="q">
                        <div class="input-group-append">
                            <button class="btn btn-secondary"
                                    type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

{% block background %}
{% endblock %}

{# TODO controlar de una forma mas elegante la paricion de breadcrumb #}
{% block breadcrumb %}
   {% if request.user.is_authenticated and not "/accounts" in request.path %}
   <!-- request.path = {{ request.path }} -->
   <div id="breadcrumb">
       <div class="wrapper">
       <ul class="nav">
         {% comment %}
           <li class="discover"><a href="{{ request.user.get_absolute_url }}"><i class="fa fa-user"></i> {% trans "My Account" %}</a></li>
           <li class="discover"><a href="/"><i class="fa fa-music"></i> {% trans "My Community" %}</a></li>
         {% endcomment %}
           <li class="discover profile"><a href="{{ request.user.get_absolute_url }}" title="{% trans "My Profile" %}">{% avatar request.user 16 %}</a></li>
           <li class="discover"><a href="/live/" title="{% trans 'See everything that is happening at RedPanal.org' %}"><i class="fa fa-music"></i> {% trans "The RedpaWall" %}</a></li>
           <li class="discover"><a href="/" title="{% trans 'What other users are doing?' %}"><i class="fa fa-user"></i> {% trans "My Community" %}</a></li>
           <li class="discover"><a href="{% url 'user-interactions' request.user %}" title="{% trans 'Interactions with other users' %}"><i class="fa fa-comments-o"></i> {% trans "My Interactions" %}</a></li>

           <li class="popup action"><a href="#" class="modal-create-message" title="{% trans "Post message in your timeline" %}"><i class="fa fa-edit"></i></a></li>
           <li class="action"><a href="{% url "project-create" %}" title="{% trans "Create project" %}"><i class="fa fa-folder-open"></i> {% trans "Create Project" %}</a></li>
           <li class="action"><a href="{% url "audio-create" %}" title="{% trans "Upload file" %}"><i class="fa fa-upload"></i> {% trans "Upload audio" %}</a></li>
       </ul>
       </div>
   </div>
   {% endif %}
{% endblock %}

<div id="content" class="container">         
    {% block content %}
    {% endblock %}
</div>

<div id="footer" class="navbar">
    <div class="container">
        {% block footer %}
            <p class="col-lg-8">
                {% blocktrans %}
                This is Free Software licensed under <a href="http://www.gnu.org/licenses/agpl.txt" >AGPL</a>.<br /> 
                  Get <a href="https://github.com/RedPanal/redpanal">the code!</a>.<br />
                  Current version is <a href="https://github.com/RedPanal/redpanal/commit/{{ GIT_SHORT_VERSION }}">{{ GIT_SHORT_VERSION }}</a>.
                {% endblocktrans %}
                {% trans 'Hosted by: <a href="http://www.codigosur.org">Código Sur</a>' %}
            </p>
            <div class="col-lg-4">
                <span class="mr-2">
                    <a href="http://blog.redpanal.org/" title="{% trans 'The Official RedPanal Blog!' %}">{% trans "Blog" %}</a>
                </span>
                <span class="mr-2">
                    <a href="http://twitter.com/redpanal" ><i class="fab fa-twitter-square pr-1"></i><span class="hide-text">Twitter</span></a>
                </span>
                <span class="mr-2">
                    <a href="https://www.facebook.com/pages/RedPanal/10150092707335128?fref=ts"><i class="fab fa-facebook-square pr-1"></i><span class="hide-text">Facebook</span></a>
                </span>
            </div>
        {% endblock %}
    </div>
</div>

{% block modal_popup %}
   {% if request.user.is_authenticated and not "/accounts" in request.path %}
      {% include "social/message_form_popup.html" %}
   {% endif %}
{% endblock %}
</body>
