{% extends "two_rows.html" %}
{% load i18n social_tags %}

{% block title %}{% if not request.user.is_authenticated %}{% trans "Welcome!" %}{% else %}{% trans "My Community" %}{% endif %}{% endblock %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5,
            paginateOnScrollMargin: 10,
            onCompleted: function() {
             //  http://django-endless-pagination.readthedocs.org/en/latest/javascript.html
               $('video,audio').each(function(index, element){
                  $(this).mediaelementplayer({
                     audioWidth: $(this).parent().width(),
                     audioHeight: 30,
                     startVolume: 0.8});
              });
            }
        });
    });
 </script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block left_row %}
  {% if request.user.is_authenticated %}
     <h3 class="main-title">{% trans "My Community" %}</h3>
     <p class="expl">{% trans "My activities and the users that I follow" %}</p>
     <ul class="action-stream">
        {% include "social/actions_list.html" %}
     </ul>
  {% endif %}

{% endblock %}

{% block right_row %}
   {% with stats="show" %}
      {% include "users/user_prof.html" %}
   {% endwith %}
   <div class="users-list-wrapper">
       <h3>{% trans "Last followers:" %}</h3>
       <ul class="users-list following">
       {% for user in user.followers|slice:":5" %}
         <li>{% include "users/user_teaser.html" %}</li>
       {% endfor %}
       </ul>
   </div>
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}
