{% extends "two_rows.html" %}
{% load i18n %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5,
            paginateOnScrollMargin: 10
        });
    });
 </script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block title %}{% if not request.user.is_authenticated %} {% trans "Welcome to RedPanal" %}{% else %}  {% trans "Home" %}{% endif %}{% endblock %}

{% block left_row %}
  {% if request.user.is_authenticated %}
  <div>
      {% include "social/actions_list.html" %}
  </div>
  {% endif %}

{% endblock %}

{% block right_row %}
    <ul class="nav nav-list">
      <li><a href="{% url "user-list" %}">{% trans "People" %}</a></li>
      <li><a href="{% url "project-list" %}">{% trans "Projects" %}</a></li>
    </ul>
{% endblock %}
