{% extends "two_rows.html" %}
{% load i18n social %}

{% block extra_head %}
{{ block.super }}
 <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
 <script>
    $(function (){
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5,
            paginateOnScrollMargin: 10
        });
    });
 </script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block title %}{% if not request.user.is_authenticated %} {% trans "Welcome to RedPanal" %}{% else %}  {% trans "Home" %}{% endif %}{% endblock %}

{% block left_row %}
  {% if request.user.is_authenticated %}
  <div>
      <h3 class="top-title">{% trans "My Community" %}</h3>
      <p class="expl">{% trans "My activities and the users that I follow" %}</p>
      {% include "social/actions_list.html" %}
  </div>
  {% endif %}

{% endblock %}

{% block right_row %}
   {% if request.user.is_authenticated %}
       <ul class="nav nav-list auth-user">
         {% include "auth-items-menu.html" %}
       </ul>
   {% endif %}
    {% include "users/user_stats.html" %}
    <ul class="nav nav-list">
      {% include "not-auth-items-menu.html" %}
    </ul>
    <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
    </ul>

    <div class="users-list-wrapper">
       <h3>{% blocktrans %}@{{ user }} follows{% endblocktrans %}</h3>
       <ul class="users-list following">
       {% for user in following %}
         <li>{% include "users/user_teaser.html" %}</li>
       {% endfor %}
       </ul>
    </div>
{% endblock %}
