{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
{{ block.super }}
 <script>
    $(function (){
        $('video,audio').mediaelementplayer({
            audioWidth: 540, //old 460
            // height of audio player
            audioHeight: 30,
            // initial volume when the player starts
            startVolume: 0.8});
    });
 </script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="main span7">
    {% comment %}
    {% block comment %}
      {% if request.user.is_authenticated %}
        {% include "social/message_form.html" %}
      {% endif %}
    {% endblock %}
    {% endcomment %}
      {% block left_row %}{% endblock %}
  </div>

  <div class="sidebar span5">
      {% block right_row %}{% endblock %}
  </div>
</div>
{% endblock %}

