{% load i18n avatar_tags %}
{% avatar action.actor 50 %}
{% if action.actor.get_absolute_url %}
 <span class="user"><a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a></span>
{% else %}
 <a href="{{ action.actor_url }}">{{ action.actor }}</a>
{% endif %}
<span class="ago">{% blocktrans %}{{ action.timestamp|timesince }} ago{% endblocktrans %}</span><br>
<span class="message">
   <span class="verb {{ action.verb }}">
   {% ifequal action.verb 'commented' %}{# trans 'Commented' #}{% endifequal %}
   {% ifequal action.verb 'uploaded' %}{% trans 'Uploaded' %}{% endifequal %}
   {% ifequal action.verb 'created' %}{% trans 'Created the project' %}{% endifequal %}
   {% ifequal action.verb 'created version' %}{% trans 'Cloned the project' %}{% endifequal %}
   </span>
{% if action.action_object %}
     <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
{% endif %}
{% if action.action_object and action.target %}
   {% trans "to" %}
{% endif %}
{% if action.target %}
    {% if action.target.get_absolute_url %}
      <a href="{{ action.target.get_absolute_url }}">
    {% else %}
      <a href="{{ action.target_url }}">
    {% endif %}
         {% ifequal action.verb 'commented' %}@{{ action.target }}{% endifequal %}
         {% ifequal action.verb 'created' %}{{ action.target|capfirst }}{% endifequal %}
         {% ifequal action.verb 'created version' %}{{ action.target|capfirst }}{% endifequal %}
         {% ifequal action.verb 'uploaded' %}{{ action.target|capfirst }}{% endifequal %}
      </a>
{% endif %}
</span>
{# if request.user.is_authenticated #}
<ul class="actions">
<li><i class="icon-reply"></i> <button type="button" class="btn btn-link comment-reply" data-username="{{ action.actor }}">{% trans 'reply' %}</button></li>
<li><i class="icon-repeat"></i> <button type="button" class="btn btn-link comment-amplify">{% trans 'amplify' %}</button></li>
</ul>
{# endif #}
