{% extends "social/action_teaser.html" %}
{% load i18n endless %}

{% block action_text %}
  {% if action.action_object.content_object %}
    {% trans '(Commented' %}
  {% endif %}
{% endblock %}

{% block content_object %}
  {% if action.action_object.content_object %}
    {% trans 'at' %} <a href="{{ action.action_object.content_object.get_absolute_url }}"
         title="{{ action.action_object.content_type.name }}">
          {{ action.action_object.content_object.name|truncatechars:15 }}</a>)
  {% endif %}
{% endblock %}

