{% load i18n %}
<img src="/static/img/user-pic-example-small.png" />
{% if action.actor.get_absolute_url %}
 <span class="user"><a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a></span> 
{% else %}
 <a href="{{ action.actor_url }}">{{ action.actor }}</a>
{% endif %}
<span class="ago">{{ action.timestamp|timesince }} {% trans "ago" %}</span><br>
<span class="verb">{{ action.verb }}</span> 
{% if action.action_object %}
  <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
{% endif %}
{% if action.target %}
{% trans "to" %}
    {% if action.target.get_absolute_url %}<a href="{{ action.target.get_absolute_url }}">@{{ action.target }}</a>
    {% else %}<a href="{{ action.target_url }}">@{{ action.target }}</a>{% endif %}
{% endif %}
