{% extends "social/action_teaser.html" %}
{% load i18n endless %}

{% block action_text %}
{% trans 'Commented' %}
{% endblock %}

{% block action_body %}
  {{ action.action_object }}
  {% if action.action_object.content_object %}
  <span class="">{% trans 'at' %}
      <a href="{{ action.action_object.content_object.get_absolute_url }}"
         title="{{ action.action_object.content_type.name }}">
          {{ action.action_object.content_object.name }}</a>
  </span>
  {% endif %}
{% endblock %}

