{% extends "two_rows.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}@{{ user.username }} follows{% endblocktrans %}{% endblock %}

{% block left_row %}
    <h3>{% blocktrans %}Users followed by @{{ user }}{% endblocktrans %}</h3>
    <div class="users-list-wrapper">
      <ul class="users-teasers-list following">
      {% for user in user.following %}
         {% with "full" as mode %}
         <li>{% include "users/user_teaser.html" %}</li>
         {% endwith %}
      {% endfor %}
      </ul>
    </div>
{% endblock %}

{% block right_row %}
      {% with "show" as stats %}     
         {% include "users/user_prof.html" %}
      {% endwith %}
   <ul class="nav nav-list">
      {% include "discover-items-menu.html" %}
   </ul>
{% endblock %}
