{% load i18n avatar_tags %}

  <!-- message teaser -->
  <span class="avatar">
  {% avatar object.user 50 %}
  </span>
  <span class="user">
    <a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a>
  </span>
  <span class="ago">{% blocktrans with timeago=object.created_at|timesince %}{{ timeago }} ago{% endblocktrans %}</span><br>
  <span class="message">{{ object.as_html|safe }}</span>
  
  
  <ul class="actions">
   <li><button type="button" class="btn btn-link modal-reply-message" data-username="{{ object.user }}"><i class="fa fa-reply"></i> {% trans 'reply' %}</button></li>
   {% comment %}<li><button type="button" class="btn btn-link comment-amplify"><i class="fa fa-repeat"></i> {% trans 'amplify' %}</button></li>{% endcomment %}
 </ul>


