{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}| {{ object.name }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript">
    $(function (){
        $('video,audio').mediaelementplayer({
            audioWidth: 940,
            // height of audio player
            audioHeight: 30,
            // initial volume when the player starts
            audioWaveHeight: 100,
            customSize: 'big',
            startVolume: 0.8});
    });
</script>
{% endblock %}

{% block content %}
   {% with mode="in-project-detail" %}
      {% include "project/project_teaser.html" %}
   {% endwith %}

   {% for audio in project.audios.all %}
     {% include "audio/audio_teaser.html" with object=audio mode="in-project-detail" %}
   {% endfor %}

{% trans "Project versions" %}

  {% for audio in project.audios_from_versions %}
    {% include "audio/audio_teaser.html" with object=audio %}
  {% endfor %}


<div class="form-actions">
{% if request.user == object.user %}
  <a class="btn btn-primary" href="{% url "project-edit" object.slug %}">{% trans "Edit" %}</a>
  <a class="btn btn-danger" href="{% url "project-delete" object.slug %}">{% trans "Delete" %}</a>
{% endif %}
  <a class="btn btn-warning" href="{% url "project-create-version" object.slug %}">{% trans "Create version" %}</a>
</div>
{% endblock %}

