{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
  {% include "project/project_object.html" %}

  {% for audio in object.audios.all %}
   {% include "audio/audio_object.html" with object=audio %}
  {% endfor %}

{% if request.user == object.user %}
    <div class="form-actions">
        <a class="btn btn-primary" href="{% url "project-edit" object.slug %}">{% trans "Edit" %}</a>
        <a class="btn btn-danger" href="{% url "project-delete" object.slug %}">{% trans "Delete" %}</a>
    </div>
{% endif %}
{% endblock %}

